body{
    background-image: url(https://i.pinimg.com/736x/cf/e2/60/cfe260a9ff841fa2eb47b7d6629f85a5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Jersey 15", sans-serif;
    background-color: #84C84F;
    height: 100%;
}
select{
    padding: 10px;
    margin: 10px;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Jersey 15", sans-serif;
    border: none;
}

h1{
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-size: 56px;
    font-weight: 500;
}

p{
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

h2{
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 500;
}
footer{
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.name{
    font-weight: 600;
}

.container{
    max-width: 600px;
    margin: 60px auto;
    background-color: rgba(214, 210, 210, 0.8);
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(32, 83, 73, 0.5);
    border-radius: 10px;
}

.city{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.7);
    padding: 30px 0;
}

.city:last-child{
    border-bottom: none;
}

.date{
    opacity: 0.7;
    font-size: 18px;
}


.time{
    font-size: 52px;
    font-weight: 300;
}

.time small{
    font-size: 24px;
    line-height: 36px;
    vertical-align: middle;
}

.back-link{
    color: #333;
    font-size: 26px;
}

ion-icon{
    font-size: 18px;
}
